
@use "../../init/global" as *;

@mixin showResultScreen {
    width: 100%;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;

    h3 {
        font-size: 45px;
        margin-bottom: 20px;
    }

    .loadDesc {
        font-size: 24px;
        text-align: center;

    }

    .scoreText {
        margin-top: 15px;
        font-weight: 600;
        font-size: 32px;
        text-align: center;

    }
}


.wonLoadingScreen {
    background: dodgerblue;
    @include showResultScreen;

    img {
        margin-top: 30px;
        width: 330px;
        height: 330px;
    }
}

.lostLoadingScreen {
    background: #704817;
    @include showResultScreen;

    img {
        margin-top: 40px;
        width: 270px;
        height: 270px;
    }
}

.drawLoadingScreen {
    background: #63acf3;
    @include showResultScreen;

    img {
        margin-top: 40px;
        width: 270px;
        height: 270px;
    }
}


.gameSummary {
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;

    & > h3 {
        font-size: 43px;
        font-weight: 400;

        @include mobile {
            font-size: 38px;
        }
    }

    & > span {
        font-size: 24px;
        margin-top: 20px;
        font-weight: bold;
    }


}

.playersSummaryContainer {
    display: flex;
    gap: 100px;
    margin-top: 100px;

    @include mobile {
        gap: 50px;
    }
}

.playerScoreContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;

    img {
        width: 200px;
        height: 200px;
    }

    span {
        font-size: 26px;
        font-weight: 400;
        z-index: 100;
    }

    .crown {
        position: absolute;
        top: -120px;
        width: 180px;
        height: 180px;
    }
}


.summaryBtn {
    width: 400px !important;

    @include mobile {
        width: 90% !important;
        margin-top: 12px;
    }
    font-weight: bold;
}

.summaryBtn:nth-of-type(1) {
    margin-top: 50px;
    margin-bottom: 15px;
}
