/*
Error: Undefined variable: "$main-color".
        on line 51 of CreateExam.scss

46:     padding-inline: 10px;
47:     outline: none;
48:     transition: 0.2s ease-in-out;
49: 
50:     &:focus {
51:       border: 2px solid $main-color;
52:     }
53:   }
54: 
55:   .row {
56:     width: 100%;

Backtrace:
CreateExam.scss:51
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/script/tree/node.rb:50:in `perform'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/script/tree/list_literal.rb:75:in `block in _perform'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/script/tree/list_literal.rb:75:in `map'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/script/tree/list_literal.rb:75:in `_perform'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/script/tree/node.rb:50:in `perform'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:398:in `visit_prop'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block (2 levels) in visit_rule'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `map'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block in visit_rule'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:438:in `visit_rule'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block (2 levels) in visit_rule'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `map'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block in visit_rule'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:438:in `visit_rule'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block (2 levels) in visit_rule'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `map'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block in visit_rule'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:438:in `visit_rule'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:387:in `run'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/Users/yoav/.rvm/gems/ruby-2.7.6/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
/Users/yoav/.rvm/gems/ruby-2.7.6/bin/sass:23:in `load'
/Users/yoav/.rvm/gems/ruby-2.7.6/bin/sass:23:in `<main>'
/Users/yoav/.rvm/gems/ruby-2.7.6/bin/ruby_executable_hooks:22:in `eval'
/Users/yoav/.rvm/gems/ruby-2.7.6/bin/ruby_executable_hooks:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$main-color\".\A         on line 51 of CreateExam.scss\A \A 46:     padding-inline: 10px;\A 47:     outline: none;\A 48:     transition: 0.2s ease-in-out;\A 49: \A 50:     &:focus {\A 51:       border: 2px solid $main-color;\A 52:     }\A 53:   }\A 54: \A 55:   .row {\A 56:     width: 100%;"; }
