@use "../../init/global" as *;


.map-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.map {
  position: relative;
  width: 90%;
  aspect-ratio: 1100/500;
  margin-inline: auto;
  margin-top: $nav-height;
  border-radius: 10px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 1);
  background: wheat;
  border: 3px solid white;

  @include mobile {
    width: 95%;
  }
}

.bubble {
  position: absolute;
  width: 3.4%;
  aspect-ratio: 1/1;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.4vw solid;

  img:nth-child(1) {
    width: 80%;
    height: 80%;
  }

  img:nth-child(2) {
    position: absolute;
    width: 250%;
    height: auto;
    right: -30%;
    top: -10%;
    transition: 1s ease-in-out opacity;
  }

  &:nth-of-type(1) {
    @extend .p1;
  }

  &:nth-of-type(2) {
    @extend .p2;
  }

  &:nth-of-type(3) {
    @extend .p3;
  }

  &:nth-of-type(4) {
    @extend .p4;
  }

  &:nth-of-type(5) {
    @extend .p5;
  }

  &:nth-of-type(6) {
    @extend .p6;
  }

  &:nth-of-type(7) {
    @extend .p7;
  }

  &:nth-of-type(8) {
    @extend .p8;
  }

  &:nth-of-type(9) {
    @extend .p9;
  }
}

.background-img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  z-index: 0;
}

.canoe {
  position: absolute;
  z-index: 1;
  user-select: none;
  width: 2%;
  top: 44%;
  left: 2%;
  transform: rotate(88deg);
  transition: 1s ease-in-out;
  margin-top: -1.7%;
  margin-left: 1.4%;
}

.p1 {
  left: 9.4%;
  top: 60%;
}

.p2 {
  left: 21%;
  top: 83.6%;
}

.p3 {
  left: 29.5%;
  top: 68%;
}

.p4 {
  left: 23%;
  top: 40%;
}

.p5 {
  left: 41%;
  top: 19%;
}

.p6 {
  left: 48%;
  top: 60.3%;
}

.p7 {
  left: 62.7%;
  top: 55%;
}

.p8 {
  left: 87%;
  top: 35%;
}

.p9 {
  left: 95.5%;
  top: 48.5%;
}