.question-layout {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: white;
}

.question-layout > div {
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.question-left > div {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
    margin: 20px 0 10px;
    font-weight: bold;
    gap: 30px;
}

.question-left img {
    height: 100px;
    width: auto;
}

.question-left > h2 {
    border-bottom: 3px solid white;
    padding: 5px 10px;
}

.question-left > span {
    padding: 5px 20px;
    font-size: 18px;
}