

.questionLayout {
    margin-top: 100px;
}

.languagePicker {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.languagePicker button {
    background: rgb(0 0 0 /0);
    border: 0;
}

.languagePicker img {
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.languagePicker img[alt="kotlin"] {
    width: 60px;
    height: 60px;
}

.languagePicker img[alt="java"] {
    margin-top: -6px;
    margin-bottom: 5px;
}

.codeEditor {
    width: 500px;
    min-width: 400px;
    height: 600px;
}

.container1 {
    display: flex;
    flex-direction: row;
}

.container1 > div:first-child {
    margin-left: auto;
    padding-left: 20px;
    margin-right: 35px;
}

.container1 > div:last-child {
    margin-right: auto;
    padding-right: 20px;
    margin-left: 47px;
}


.questionInfo {
    display: flex;
    flex-direction: column;
    color: white;
    width: 550px;
}

.questionJustInfo {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: -15px;
}


.questionName {
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
    text-align: center;
    padding-bottom: 7px;
}


.actionsButtonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: 40px;
    gap: 20px;
}

.actionsButtonsContainer button {
    background: #416ee1;
    border: none;
    border-radius: 16px;
    color: white;
    font-family: inherit;
    font-size: 18px;
    overflow: hidden;
    padding: 0.75em 0.8em;
    min-width: 140px;
    font-weight: 600;
}

.actionsButtonsContainer button:disabled {
    background-color: #9eb5ee;
    cursor: default;
}

.exampleContainer {
    margin-top: 30px;
}

.exampleContainer > div > span {
    font-size: 18px;
    font-weight: 600;
}

.exampleContainer > div > div {
    background: #2a5273;
    border-radius: 8px;
    padding: 17px;
    margin-bottom: 25px;
    margin-top: 7px;
}

.letterSpacing {
    letter-spacing: 1.5px;
    white-space: pre-wrap;
}


.varName {
    color: #fd971f;
}


.arrow {
    transition: transform 0.2s ease;
}

.arrowOpen {
    transform: rotate(180deg);
}

.languagePickerMobile {
    display: none;
}

.questionDescription {
    color: white;
    font-size: 18px;
    margin-top: 0;
}


@media (max-width: 960px) {
    .container1 {
        flex-direction: column;
        align-items: center;
        padding-inline: 10px;
    }

    .languagePicker {
        display: none;
    }

    .questionJustInfo {
        margin-top: -60px;
    }

    .questionInfo {
        width: min(100%, 550px);
        order: 2;
    }

    .codeEditor {
        order: 3;
    }

    .actionsButtonsContainer {
        order: 1;
        margin-top: 60px;
        margin-bottom: 30px;
    }

    .container1 > div:first-child {
        margin-left: initial;
        padding-left: initial;
        margin-right: initial;
    }

    .container1 > div:last-child {
        margin-right: initial;
        padding-right: initial;
        margin-left: initial;
    }

    .codeEditor {
        width: 100%;
        min-width: initial;
        max-width: 600px;
    }

    .questionName {
        margin-bottom: 20px;
        border: 0;
    }

    .solutionBtn {
        display: none;
    }

    .actionsButtonsContainer {
        display: flex;
        margin-left: 0;
        margin-right: 0;
        justify-content: space-between;
    }

    .sendBtn {
        width: 150px !important;
    }

    .languagePickerMobile {
        display: initial;
        width: 145px;
        border-radius: 10px;
        padding-left: 15px;
        outline: none;
        border: none;
    }

    .questionDescription {
        font-size: 17px;
    }

}
