@use '../../init/global' as *;


.questionLayout {
    margin-top: var(--navigation-height);
}

.topRow {
    box-sizing: border-box;
    width: 94%;
    height: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    margin-inline: auto;
    gap: 25px;

    @include mobile {
        width: 98%;

        .topRowLogo {
            display: none;
        }

        .nextQuestion {
            display: none;
        }

        .questionList {
            display: none;
        }
    }
}

.topRowMobile {
    gap: 14px;
    display: none;

    @include mobile {
        display: flex;
    }
}

.topRowMobile .questionList, .topRowLogo, .nextQuestion, .languageSelector, .watch, .submit {
    border-radius: 5px;
}

.questionList, .topRowLogo, .nextQuestion, .languageSelector, .watch, .submit {
    border: 0;
    padding: 0;
    height: 47px;
    padding-inline: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(black, 0.5);
    transition: 0.3s ease-in-out;
    background: #295986;
    user-select: none;
    cursor: pointer;

    @include mobile {
        padding-inline: 10px;
        gap: 5px;
    }

    &:hover {
        background: rgb(60, 115, 250);
    }

}

.topRow > div:nth-of-type(1) {
    background: $main-color;

    img {
        height: 70%;
        width: auto;
        border-radius: 10px;
    }
}

.questionList, .nextQuestion, .watch {
    cursor: pointer;
    img {
        height: 65%;
        width: auto;
    }

}


.languagePicker {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.languagePicker button {
    background: rgb(0 0 0 /0);
    border: 0;
}

.languagePicker img {
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.languagePicker img[alt="kotlin"] {
    width: 60px;
    height: 60px;
}

.languagePicker img[alt="java"] {
    margin-top: -6px;
    margin-bottom: 5px;
}

.codeEditor {
    width: calc(50% - 150px);
    min-width: 400px;
    height: calc(100vh - 170px);
}

.codeEditorWithSeekBar {
    height: calc(100vh - 200px) !important;
}

.container1 {
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.container1 > div:first-child {
    margin-left: auto;
}

.container1 > div:last-child {
    margin-right: auto;
}

.questionInfo {
    display: flex;
    flex-direction: column;
    color: white;
    width: calc(50% - 150px);
}

.questionJustInfo {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: -10px;
}

.submit {
    margin-left: auto;
    background: green;

    &:hover {
        background: #035e03;
    }
}

.questionName {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
    text-align: center;
    padding-bottom: 7px;

    @include mobile {
        margin-top: 70px;
    }
}

.actionsButtonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: 40px;
    gap: 20px;
}

.actionsButtonsContainer button {
    background: #416ee1;
    border: none;
    border-radius: 16px;
    color: white;
    font-family: inherit;
    font-size: 18px;
    overflow: hidden;
    padding: 0.75em 0.8em;
    min-width: 140px;
    font-weight: 600;
}

.actionsButtonsContainer button:disabled {
    background-color: #9eb5ee;
    cursor: default;
}

.exampleContainer {
    margin-top: 30px;
}

.exampleContainer > div > span {
    font-size: 18px;
    font-weight: 600;
}

.exampleContainer > div > div {
    background: #2a5273;
    border-radius: 8px;
    padding: 17px;
    margin-bottom: 25px;
    margin-top: 7px;
}

.letterSpacing {
    letter-spacing: 1.5px;
    white-space: pre-wrap;
}

.varName {
    color: #fd971f;
}

.languagePickerMobile {
    display: none;
}

.questionDescription {
    color: white;
    font-size: 18px;
    margin-top: 0;
}

@include mobile{
    .container1 {
        flex-direction: column;
        align-items: center;
        padding-inline: 10px;
    }

    .topRowComputer {
        display: none;
    }

    .languagePicker {
        display: none;
    }

    .questionJustInfo {
        margin-top: -60px;
    }

    .questionInfo {
        width: min(100%, 550px);
        order: 2;
    }

    .codeEditor {
        order: 3;
        margin-top: -130px;
    }

    .actionsButtonsContainer {
        order: 1;
        margin-top: 60px;
        margin-bottom: 30px;
    }

    .container1 > div:first-child {
        margin-left: initial;
        padding-left: initial;
        margin-right: initial;
    }

    .container1 > div:last-child {
        margin-right: initial;
        padding-right: initial;
        margin-left: initial;
    }

    .codeEditor {
        width: 100%;
        min-width: initial;
        max-width: 600px;
    }

    .questionName {
        margin-top: 100px;
        margin-bottom: 20px;
        border: 0;
    }

    .solutionBtn {
        display: none;
    }

    .actionsButtonsContainer {
        display: flex;
        margin-left: 0;
        margin-right: 0;
        justify-content: space-between;
    }

    .sendBtn {
        width: 150px !important;
    }

    .languagePickerMobile {
        display: initial;
        width: 145px;
        border-radius: 10px;
        padding-left: 15px;
        outline: none;
        border: none;
    }

    .questionDescription {
        font-size: 17px;
    }

}


.quickTestContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    color: white;
    background: #0a0d3d;
    border-radius: 10px;

    input[type="text"] {
        margin-top: 20px;
        width: 90%;
        margin-left: 2.5%;
        border: initial;
        border-radius: 4px;
    }
}

.quickTestTitle {
    background: #2a5273;
    display: flex;
    justify-content: space-between;


    span {
        background: #04243f;
        padding: 6px;
        font-size: 18px;
        font-weight: bold;
    }

    button {
        background: green;
        color: white;
        border: 0;
        font-weight: bold;
        padding-inline: 30px;
        font-size: 20px;
    }
}

.quickTestOutput {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;

    span:nth-of-type(1) {
        font-size: 18px;
        font-weight: bold;
    }

    span:nth-of-type(2) {
        font-size: 18px;
        font-weight: bold;
        margin-left: 10px;
        color: #04e517;
    }
}
