.compiler-content {
    width: 85%;
    min-height: 500px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-evenly;
    background: gray;
}

.compiler-content > div {
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.compiler-editor > div:first-child {
    width: 100%;
    height: 60px;
    background: lightgrey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
}

.ace-wrapper {
    height: 500px;
}