

$exam-color: rgb(26, 128, 255);
$exam-color-hover: rgb(26, 120, 250);


.exam-box {
  width: 750px;
  padding-inline: 25px;
  padding-block: 15px;
  margin-inline: auto;
  background: white;
  margin-top: calc(var(--navigation-height) + 50px);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;

  & > div {
    width: 100%;
    display: flex;
    align-items: center;
  }
}


.exam-button {
  align-items: center;
  background: $exam-color;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.3) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: center;
  align-content: center;
  font-family: "RM Neue",sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 30px;
  text-align: center;
  text-transform: none;
  transition: 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;

  &:hover {
    background-color: $exam-color-hover;
  }
}

.exam-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

  img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
  }
}

.exam-description {
  margin-top: -30px;
  justify-content: center;
  flex-direction: column;
  gap: 30px;

  span {
    font-size: 18px;
  }

  & > div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .time-remain {
    position: absolute;
    left: 0;
  }

  .min-score {
    position: absolute;
    right: 0;
  }
}

.exam-questions {
  margin-top: 25px;
  flex-direction: column;
  gap: 15px;
}

.exam-question-item {
  width: 100%;
  border: 1px solid;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: wheat;
  cursor: pointer;
  transition: 0.25s ease-in-out transform, 0.25s ease-in-out box-shadow;
  $square-size: 30px;

  div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 3px;
    width: 100%;

    .level-icon {
      min-width: $square-size;
      min-height: $square-size;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-weight: bold;
      user-select: none;
    }

    &.question-easy .level-icon {
      background: limegreen;
    }

    &.question-medium .level-icon {
      background: orange;
    }

    &.question-hard .level-icon {
      background: #f01e1e;
    }
  }

  svg {
    min-width: $square-size;
    min-height: $square-size;
  }
}

.name-and-description {

  padding-block: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;

  h3 {
  }

  span {
    margin-inline: 5px;
  }
}

.exam-question-item:hover {
  transform: scale(1.03);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.exam-finish-note {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

  span {
    font-size: 18px;
    text-align: center;
  }
}

.exam-finish-button {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}