$max-width: 750px;

@mixin center-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin mobile {
  @media (max-width: $max-width) {
    @content;
  }
}

.remove-link-style {
    text-decoration: none;
}

dialog::backdrop {
  background: rgba(black, 0.85);
}

.removeDefault {
  border: 0;
  background: inherit;
  padding: 0;
  margin: 0;
}
