
.navigationBar {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--navigation-height);
    background: #27282C;
    display: flex;
    justify-content: space-between;
    z-index: 200;
}


.page {
    height: 75%;
    top: 10%;
    cursor: pointer;
    display: grid;
    place-content: center;
    transition: 0.2s ease-in transform;
    font-size: 18px;
    font-weight: bold;
    color: rgb(200, 200, 200);
    text-decoration: none !important;
    margin-right: 8px;
}

.page:hover:not(.active) {
    border-bottom: rgb(200, 200, 200) solid 3px;
    transform: scale(1.02);
}

.active {
    border-bottom: white solid 3px;
    color: white;
}


.profileImage {
    height: 75%;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 30px;
}

.navMenu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
    gap: 30px;
}

.loginBtn {
    height: 65%;
    margin: auto 0;
    width: 95px;
    border-radius: 20px;
    margin-right: 20px;
    background: white;
    border: none;
    font-weight: bold;
    font-size: 16px;

}

@media (max-width: 960px) {
    .navMenu a:nth-of-type(4) {
        display: none;
    }

    .navMenu {
        gap: 20px;
        margin-left: 15px;
    }

    .profileImage {
        margin-right: 10px;
    }

}
