$borderRadius: 15px;

input, select {
    outline: none;
    border: 1.5px solid;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    transition: 0.1s ease-in-out;

    &:focus {
        border-color: dodgerblue;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    width: min(800px, 95vw);
    margin-inline: auto;
    margin-top: 120px;
    border-radius: $borderRadius;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    padding-bottom: 30px;
    margin-bottom: 50px;
    gap: 20px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
    background: wheat;
    border-top-right-radius: $borderRadius;
    border-top-left-radius: $borderRadius;
    padding-block: 15px;
    border-bottom: 1.5px solid;

    span {
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 100%;

    & > div:not(.asserts) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
}

textarea {
    resize: none;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    border: 1.5px solid;
    transition: 0.1s ease-in-out;
    width: 70%;
    font: inherit;

    &:focus {
        border-color: dodgerblue;
    }
}

.active, .inactive {
    min-width: 110px;
    padding: 10px;
    background: transparent;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: green;
    transition: 0.15s ease-in-out;
}

.inactive {
    border-color: red;
}

.asserts {
    position: relative;
    width: 73%;
    height: 150px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    .assertsTitle {
        width: 100%;
        height: 50px;
        background: wheat;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        gap: 10px;


        select {
            padding: 0 3px;
            height: 85%;
            background: none;
            border: 1px solid black;
            font-weight:     bold;
        }
    }
}

.solutions {
    position: relative;
    width: 73%;
    height: 200px;
}
