

.container {
    background: white;
    margin-top: 110px;
    width: 60%;
    margin-inline: auto;
    padding: 32px;
    border-radius: 30px;

    h1 {
        text-align: center;
        font-size: 42px;
    }

    p {
        margin-top: 30px;
        font-size: 18px;
    }
}

