.terminal {
    width: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 40px;
    border-radius: 10px;
}

.terminal-header {
    height: 30px;
    width: 100%;
    background: #3b3c3e;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 10px 0 0 rgb(0, 0, 0, 1);
    display: flex;
    justify-content: flex-start;
}

.terminal-header > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 8px;
    margin-left: 15px;
}

.terminal-header > div > span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.terminal-header > div > span:nth-child(1) {
    background: #fe5f57;
}

.terminal-header > div > span:nth-child(2) {
    background: #febc2e;
}

.terminal-header > div > span:nth-child(3) {
    background: #26c940;
}

.terminal-body {
    min-height: 200px;
    width: 100%;
    background: #1e1e1e;
}

.terminal-body > div {
    margin: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: monospace;
    font-size: 18px;
}

.terminal-body > div span {
    color: #f0f1f0;
    white-space: pre-line;
    word-wrap: break-word;
}

.terminal-body > div span:not(:last-child):first-child::before {
    content: "$ ";
    user-select: none;
}

.terminal-body > div > span:last-child {
    color: rgb(220, 230, 100);
}

.terminal-body > div > span:last-child > span {
    animation: flicker 1s linear infinite;
    user-select: none;
}


@keyframes flicker {
    0% { opacity: 1; }
    30% { opacity: 1; }
    50% { opacity: 0; }
    80% { opacity: 0; }
    100% { opacity: 1; }
}
